<footer class="footer-container">
  <section class="footer-container-content">
    <div class="footer-content-logo">
      <img src="assets/images/logoFull.png" alt="logo" class="logo-class" />
    </div>

    <section class="display-flex-column" role="social links" aria-label="links to social media">
      <h6>Urmariti-ne pe:</h6>
      <ul>
        <!-- TODO: add icons and styling -->
        <li><a href="https://www.facebook.com/FloAutoLease/">facebook</a></li>
        <mat-divider class="divider"></mat-divider>
        <li><a href="https://www.instagram.com/floautolease/">instagram</a></li>
        <mat-divider class="divider"></mat-divider>
        <li><a href="https://www.tiktok.com/@floautoleasesrl">TikTok</a></li>
        <mat-divider class="divider"></mat-divider>
        <li><a href="https://www.youtube.com/@floautolease8068">Youtube</a></li>
        <mat-divider class="divider"></mat-divider>
      </ul>
    </section>

    <section class="display-flex-column" role="contact">
      <h6>Contact</h6>
      <ul>
        <!-- TODO: add more functionality -->
        <li>
          <div class="link-container">
            <mat-icon fontIcon="phone"></mat-icon>
            <a>test</a>
          </div>
        </li>

      </ul>
    </section>

  </section>

  <section class="footer-container-legal">
    <p>© 2023 - All rights reserved</p>
  </section>
</footer>