<footer class="footer-container">
  <section class="footer-container-content">
    <div class="footer-content-logo">
      <img
        src="../../../assets/images/logoFull.png"
        alt="logo"
        class="logo-class"
      />
    </div>

    <section class="display-flex-column" role="contact">
      <h6>Contact</h6>
      <ul>
        <li><a>test</a></li>
        <li><a>test</a></li>
        <li><a>test</a></li>
      </ul>
    </section>

    <section class="display-flex-column" role="links">
      <h6>Links</h6>
      <ul>
        <li><a>test</a></li>
        <mat-divider class="divider"></mat-divider>
        <li><a>test</a></li>
        <mat-divider class="divider"></mat-divider>
        <li><a>test</a></li>
        <mat-divider class="divider"></mat-divider>
        <li><a>test</a></li>
        <mat-divider class="divider"></mat-divider>
      </ul>
    </section>
  </section>

  <section class="footer-container-legal">
    <p>© 2023 - All rights reserved</p>
  </section>
</footer>
