@import "../../../assets/floautotheme.scss";

.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $negru-principal;
  color: $text-color;
}

.footer-container-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer-container-content img {
  height: 100px;
  width: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container-content>* {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h6 {
  margin: 0;
  padding-bottom: 1em;
  font-weight: 600;
  font-size: 2rem;
}

a {
  all: unset;
}

li>a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: $rosu-principal;
  }
}

.divider {
  background-color: $rosu-principal;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

@media (max-width: 767px) {
  .footer-container-content {
    flex-direction: column;
  }

  .footer-container {
    width: calc(100vw);
  }
}