@import "../../../assets/floautotheme.scss";

.width-full {
  width: 100vw;
}

.header-class {
  background-color: $negru-principal;
  height: 10vh;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-header {
  height: 85%;
}

.header-links {
  text-decoration: none;
  color: $text-color;
  position: relative;
}

.header-links:hover::after,
.header-links.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: $rosu-principal;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 85%;
  margin-left: 2vw;
  gap: 1vw;
}

.text-image-header {
  height: 25%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 85%;
  gap: 1vw;
  margin-right: 2vw;
}

.height-full {
  height: 100%;
}

// ! mobile version
.container-for-nav {
  z-index: 100;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 75%;
  background-color: $negru-principal;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-out;
}

.mobile-nav-container {
  padding-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  height: 100%;
  margin-left: 0.75rem;
}

.container-for-nav.visible {
  transform: translateX(-100%);
}

.header-links-mobile {
  text-decoration: none;
  color: $text-color;
  position: relative;
  font-size: 1rem;
}

.header-links-mobile:hover::after,
.header-links-mobile.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: $rosu-principal;
}

.icon-header-inside {
  margin-top: 3vh;
  color: $text-color;
}

.icon-header-color {
  color: $text-color;
}
