.contact-section-container {
  display: flex;
  justify-content: space-between;
}
body {
  padding: 5rem;
}
.map-container {
  width: 40vw;
  height: 40vh;
}
.contact-card {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.contact-section-card {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  z-index: 50;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  // justify-content: space-between;
}

.aside-content-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

@media only screen and (max-width: 900px) {
  .contact-card,
  .contact-section-card {
    width: 100%;
  }
  body {
    padding: 1rem;
  }
  .contact-section-container {
    flex-direction: column;
    gap: 2rem;
  }
  .map-container {
    width: 100%;
    // height: 25vh;
  }
}

mat-card {
  z-index: 0 !important;
}
