<app-navbar></app-navbar>
<main>
    <section class="cards-container-serv">
        <mat-card class="card-class">
            <mat-card-header class="card-header">
                <mat-card-title>
                    <h1>Finanțare</h1>
                </mat-card-title>
                <i mat-card-avatar class="iconoir-bank icon-class"></i>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Această secțiune dedicată finanțării este un punct crucial în procesul tău de luare a deciziei. Aici
                    vei
                    găsi informații
                    esențiale despre modalitățile de finanțare disponibile pentru proiectul tău. Vom analiza opțiunile
                    de
                    împrumut,
                    finanțări guvernamentale sau investitori privați care ar putea să contribuie la realizarea
                    obiectivelor
                    tale
                    financiare.
                    Poți lăsa aici orice întrebare sau nelămurire ai cu privire la finanțare, iar noi te vom ghida în
                    alegerea
                    cea mai
                    potrivită pentru succesul tău.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-class">
            <mat-card-header class="card-header">
                <mat-card-title>
                    <h1>Istoric Verificat</h1>
                </mat-card-title>
                <i mat-card-avatar class="iconoir-clock-rotate-right icon-class"></i>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Un istoric verificat este ca o fereastră către trecutul unui vehicul sau proiect. În această
                    secțiune,
                    vom
                    explora
                    detaliat cum poți obține informații precise și actualizate despre istoricul vehiculului sau
                    proiectului
                    tău.
                    Vom discuta
                    despre sursele de informații, procesul de verificare și cum să interpretezi datele pentru a lua
                    decizii
                    înțelepte. Cu un
                    istoric verificat solid, vei fi pregătit să eviți surprizele neplăcute și să mergi pe drumul
                    succesului.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-class">
            <mat-card-header class="card-header">
                <mat-card-title>
                    <h1>Buyback</h1>
                </mat-card-title>
                <i mat-card-avatar class="iconoir-undo-circle icon-class "></i>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Conceptul de buyback este crucial pentru stabilitatea și durabilitatea afacerii sau proiectului tău.
                    În
                    această
                    secțiune, vom explora în detaliu ce înseamnă buyback, cum să o implementezi și să o gestionezi în
                    mod
                    eficient. Vom
                    discuta despre beneficii și riscuri, strategii de rambursare și evaluarea impactului asupra afacerii
                    tale.
                    Cu
                    cunoștințele corecte despre buyback, vei putea lua decizii financiare înțelepte și să-ți optimizezi
                    fluxul
                    de numerar.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-class">
            <mat-card-header class="card-header">
                <mat-card-title>
                    <h1>Înmatriculare Provizorie</h1>
                </mat-card-title>
                <i mat-card-avatar class="iconoir-key-alt-plus icon-class"></i>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Înmatricularea provizorie este un pas esențial în procesul de legalizare a vehiculului sau
                    proiectului
                    tău.
                    În această
                    secțiune, vom explora pașii necesari pentru a obține înmatricularea provizorie, documentele
                    necesare, și
                    procedurile
                    implicate. Vom acoperi aspectele juridice și administrative pentru a te asigura că totul este în
                    regulă
                    și
                    că proiectul
                    tău poate funcționa fără probleme în conformitate cu legea.
                </p>
            </mat-card-content>
        </mat-card>
    </section>
</main>
<app-footer></app-footer>