<div class="card-container">
    <app-carousel></app-carousel>
    <div class="card-content">
        <div class="card-header">
            <h3>{{car.titlu}}</h3>
        </div>
        <mat-chip-set class="chip-container">
            <mat-chip>{{car.combustibil}}</mat-chip>
            <mat-chip>{{car.anFabricatie}}</mat-chip>
            <mat-chip>{{car.kilometraj}} km</mat-chip>
            <mat-chip>{{car.putere}} CP</mat-chip>
        </mat-chip-set>
        <div class="card-footer">
            <h1>{{car.pret}} €</h1>
            <button mat-raised-button color="primary">Detalii</button>
        </div>
    </div>
</div>