@import "../../../assets/floautotheme.scss";

.card-container {
    display: flex;
    flex-direction: column;
    background-color: $white-background;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: calc(100% - 1rem);
}

.chip-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.pret-redus p {
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.detalii-btn {
    background-color: $rosu-principal;
}

.mat-mdc-raised-button.color-button {
    background-color: $rosu-principal;
    color: $white-background;
}