<app-navbar></app-navbar>
<div class="background-wrapper">
    <div class="centered-content">

        <h3>SERIOZITATE | TRANSPARENTA | PREMIUM</h3>
        <div class="button-wrapper">
            <button mat-raised-button routerLink="/masini" class="stoc-button">
                <div class="inside-button-wrapper">
                    <h3>MASINI IN STOC</h3>
                    <mat-icon class="visible-icon" fontIcon="arrow_forward_ios"></mat-icon>
                </div>
            </button>
            <button mat-raised-button routerLink="/servicii" class="servicii-button">
                <div class="inside-button-wrapper">
                    <h3>SERVICII</h3>
                    <mat-icon class="visible-icon" fontIcon="arrow_forward_ios"></mat-icon>
                </div>
            </button>
        </div>
    </div>
    <app-slideshow [images]="imgArray"></app-slideshow>
</div>
<app-info-card cardTitle='despre noi' [cardDescription]="descriere"></app-info-card>
<app-footer></app-footer>