@import "../../../assets/floautotheme.scss";

.background-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 21/9;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 40vw;
    aspect-ratio: 25/6;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-content h2 {
    font-size: 1.75vw;
    color: white;
}

.mat-mdc-raised-button.stoc-button {
    background-color: $rosu-principal;
    color: $white-background;
}

.stoc-button {
    // width: 15vw;
    height: 2.5vw;
    border-radius: 2vw;
}

.servicii-button {
    // width: 15vw;
    height: 2.5vw;
    border-radius: 2vw;
}

h3 {
    font-size: 1vw;
    color: $text-color;
}

mat-icon,
.visible-icon {
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.servicii-button h3 {
    color: $negru-principal;
}

.inside-button-wrapper {
    margin-left: .5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .75vw;
}

@media screen and (max-width:768px) {
    .background-wrapper {
        aspect-ratio: 13.5/9;
    }

    .centered-content {
        width: 85vw;
        aspect-ratio: 25/6;
        backdrop-filter: blur(2px);
    }

    h3 {
        font-size: 4vw;
        color: $text-color;
        font-weight: 555;
    }

    .stoc-button h3,
    .servicii-button h3 {
        font-size: 2.5vw;
    }

    .stoc-button,
    .servicii-button {
        height: 6vw;
        border-radius: 3vw;
    }
}